P_ORIGINAL_DATA=/home/user/.kaggle/competitions/tgs-salt-identification-challenge
P_MODELS=/home/user/docker-volumes/tgs-salt-identification-challenge/models
P_MODEL_ZOO=/home/user/docker-volumes/tgs-salt-identification-challenge/model_zoo
P_DATA=/home/user/docker-volumes/tgs-salt-identification-challenge/data
P_RUNS=/home/user/docker-volumes/tgs-salt-identification-challenge/runs
